<!DOCTYPE html>
<html>
<head>
<title>Change password</title>
</head>
<body>

	<section id="loginSection">
	<h1>Change password</h1>
		<form id="gizmo-form" role="form" th:action="@{/changingPassword}"
			method="post" th:object="${gizmo}">
			<div id="field1DIV">
				<label for="field1">Password: </label> <input type="text" id="field1"
					name="field1" th:field="${gizmo.field1}" />
			</div>
			<div id="buttonDIV">
				<button type="submit" id="button">Save</button>
			</div>
		</form>
	</section>

</body>
</html>