<!DOCTYPE html>
<html>
<head>
</head>
<body>

	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Nif</th>
				<th>Email</th>
				<th>Polling Station Code</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="atribute : ${atributes}">
				<td th:text="${atribute.name}" />
				<td th:text="${atribute.nif}" />
				<td th:text="${atribute.email}" />
				<td th:text="${atribute.pollingStationCode}" />
			</tr>
		</tbody>
	</table>

	<form id="gizmo-form" role="form" th:action="@{/changePassword}"
		method="post" th:object="${gizmo}">
		<div id="buttonDIV">
			<button type="submit" id="button">Change password</button>
		</div>
	</form>

</body>
</html>